
    <div class="jumbotron">
        <h1 class="display-4">School Home Page</h1>
        <p class="lead">For managing teachers and students</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="students.html" role="button">Students</a>
            <a class="btn btn-primary btn-lg" href="teachers.html" role="button">Teachers</a>
        </p>
        
    </div>
